.flex {
  display: flex;
}
.btn {
  padding: 8px 10px;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 22px;
  color: white;
  border: none;
  cursor: pointer;
  background-color: #4ce600;
}
.btn:hover {
  background-color: #3399ff;
}
