.flex {
  display: flex;
}
.text {
  color: rgba(0, 0, 0, 0.637);
  padding-right: 15px;
}
.items {
  display: flex;
  width: 30%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.301);
  justify-content: space-between;
  align-items: center;
}
.item {
  padding-left: 20px;
}
.btnD {
  padding: 8px 10px;
  margin-right: 10px;
  color: white;
  border: none;
  cursor: pointer;
  background-color: #ff704d;
}
.btnU {
  padding: 8px 10px;
  margin-right: 10px;
  color: white;
  border: none;
  cursor: pointer;
  background-color: #4ce600;
}
.btnU:hover,
.btnD:hover {
  background-color: #3399ff;
}
